{% extends "layout.html.twig" %}
{% block pagetitle 'Panel użytkownika' %}
{% block pagelabel 'zarządzanie książkami' %}

{% block content %}
{{ app.session.remove('testowy') }}
{# TOOLBAR #}
<div id="user-toolbar">
    <dl>
        <dt>Liczba książek:</dt>
        <dd>{{ book_count.books }}</dd>
        <dt>Przeczytane:</dt>
        <dd>{{ book_count.readed }}</dd>   
        <dt>Ulubione:</dt>
        <dd>{{ book_count.favourite }}</dd>
        {% if book_count.borrow %}
        <dt>Pożyczone:</dt>
        <dd>{{ book_count.borrow }}</dd>
        {% endif %}
    </dl>
    <div class="btn btn-sm btn-green first"><a href="{{ url('user-books') }}0-add" >Dodaj</a></div>
    <div class="search-form">{{ form_start(search) }}{{ form_end(search) }}</div> 
    <div class="pull-right">Strona:
        <div class="btn btn-sm btn-green">
             <span id="page-number">{{ page_all }}</span> / 
             <span id="page-all">{{ page_no }}</span>
        </div>
        <div class="btn btn-sm btn-blue"><a href="">Widok</a></div>
    </div>
</div>

{# MESSAGES #}
{% if app.session.has('message') %}    
<div class="window" id="user-messages" style="z-index:14!important;">
    <div class="window-container">
        <div class="window-title">Informacja</div>
        <div class="box">
            <div class="info">{{ app.session.remove('message') }}</div>
        </div>
    </div>
</div>  
{% endif %}

{# DISPLAY SEARCH #}
{% if action == 'search' %}
    {% include ('user/search.html.twig') %}
{% endif %}

{% if book_list and not (action == 'search') %}
    {% include ('user/booklist.html.twig') %}
{% endif %}

{# DISPLAY BOOKS LIST #}
{% if not book_list %}
<div class="window" id="user-booklist-empty">
    <div class="window-container">
        <div class="window-title">Brak książek w bibliotece</div>
        <div class="box">
            <div class="warning">Nie posiadasz jeszcze żadnych książek w swojej bibliotece.</div>
            <p>Aby to zmienić, kliknij na przycisk "DODAJ" i uzupełnij formularz.</p>
        </div>
    </div>
</div>  
{% endif %}

{% if action == 'add' %}
    {% include ('user/add.html.twig') %}
{% endif %}

{% if action == 'edit' %}
    {% include ('user/edit.html.twig') %}
{% endif %}

{% if action == 'delete' %}
    {% include ('user/delete.html.twig') %}
{% endif %}

{% if action == 'default' %}
    {% if book_item %}
        {% include ('user/item.html.twig') %}
    {% endif %} 
{% endif %}

{% endblock %}